<div class="row">
  {{!-- Greetinf for user --}}
  <div class="col-auto">
    <h2 style="color: #01354d;">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 dashboard-stuff">
    <h3>Create a New Post:</h3>

    {{!-- New post form --}}
    <form class="form new-post-form">
      {{!-- Post title --}}
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>

      {{!-- Post description --}}
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>

      {{!-- Create button --}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <div class="col-md-1"></div>

  {{!-- List of posts --}}
  {{#if posts.length}}
  <div class="col-md-5 post-list dashboard-stuff">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}" style="color: #64bcca;" class="post-title">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-edit" data-id="{{post.id}}">EDIT</button>
        <button class="btn btn-sm btn-danger btn-delete" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>
