<div class="text-center">
  <h2 class="post-title" post-id="{{id}}">{{name}}</h2>
  <script>
  console.log("ID from Handlebars:", "{{id}}");
</script>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if logged_in}}
  <div class="card">
    <h4 class="card-header">Leave a Comment</h4>
    <form class="card-body new-comment-form post-title" post-id="{{id}}" id="comment-form">
      <div class="form-group">
      <textarea class="form-input" id="post-comment" name="post-comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-comment" data-id="{{comment.id}}">Comment</button>
    </form>
  </div>
  {{/if}}

  {{#if comments.length}}
  <div class="col-md-6 comment-list">
    <h4>Current Comments:</h4>

    {{#each comments as |comment|}}
    <div class="row mb-2 card">
      <div class="col-md-8">
        <p style="margin-top: 10px;">
        {{comment.comment_text}}
        </p>
        <p class="card-header">Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
      {{!-- {{#if logged_in}} --}}
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger btn-delete" data-id="{{comment.id}}">DELETE</button>
      </div> --}}
      {{!-- {{/if}} --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/post.js"></script>